@model IEnumerable<RentACar.Data.Models.Reservation>

@{
    ViewData["Title"] = "My Reservations";
}

<h1>My Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Reservation</a>
</p>

<table class="table">
    <thead>
        32<th>Car</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Car?.Brand @item.Car?.Model</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>Confirmed</td>
            </tr>
        }
    </tbody>
</table>