@{
    ViewData["Title"] = "Политика за поверителност";
}

<h1>Политика за поверителност</h1>

<h3>Изисквания за ползване на Rent a Car системата</h3>

<div class="row mt-4">
    <div class="col-md-8">
        <h4>1. Лични данни</h4>
        <p>Системата Rent a Car събира и съхранява следната лична информация за потребителите:</p>
        <ul>
            <li>Потребителско име</li>
            <li>Парола (криптирана)</li>
            <li>Собствено име и фамилия</li>
            <li>ЕГН (единен граждански номер)</li>
            <li>Телефонен номер</li>
            <li>Имейл адрес</li>
        </ul>

        <h4>2. Защита на данните</h4>
        <p>Всички лични данни се съхраняват сигурно и не се споделят с трети страни без ваше изрично съгласие. Системата използва криптиране за паролите и защитена връзка (HTTPS) за предаване на данни.</p>

        <h4>3. Права на потребителите</h4>
        <p>Всеки потребител има право да:</p>
        <ul>
            <li>Преглежда своите лични данни</li>
            <li>Редактира своя профил</li>
            <li>Да изтрие своя акаунт (при поискване)</li>
            <li>Да преглежда своята история на резервации</li>
        </ul>

        <h4>4. Резервации и автомобили</h4>
        <p>Системата предоставя информация за наличните автомобили и позволява резервации. Администраторите имат право да преглеждат и управляват всички резервации.</p>

        <h4>5. Отказ от отговорност</h4>
        <p>Rent a Car системата не носи отговорност за проблеми, възникнали при наемане на автомобили извън системата. Цялата информация за автомобилите се предоставя от администраторите на системата.</p>

        <h4>6. Промени в правилата</h4>
        <p>Администраторите на системата си запазват правото да променят тези изисквания по всяко време, като потребителите ще бъдат уведомени за съществени промени по имейл.</p>

        <hr />

        <p class="text-muted">Последна актуализация: @DateTime.Now.ToLocalTime().ToString("dd.MM.yyyy")</p>
    </div>
</div>